{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Submit</button>

            {{ form_end(form) }}

            <a href="{{ path('subscriptions_list', {'id':1}) }}">Lista subskrypcji usera 1</a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
