{% extends 'base.html.twig' %}
{% block body %}
    <h1>Subscriptions</h1>
    {% if subscriptions | length>0 %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Lp</th>
                    <th>Status</th>
                    <th>Początek</th>
                    <th>Utworzono</th>
                </tr>
                </thead>
                <tbody>
                {% for subscription in subscriptions %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ subscription.status }}</td>
                        <td>{% if subscription.startedAt %}{{ subscription.startedAt | date('Y-m-d') }}{% else %}-{% endif %}</td>
                        <td>{{ subscription.createdAt | date('Y-m-d') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}

{% endblock %}

